@import './variables';

body {
  height: 100vh;
  background: rgb(216, 239, 255);
  background: linear-gradient(0deg, rgba(216, 239, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.background {
  position: relative;
  max-width: 1920px;
  height: 100px;
  margin: 0 auto;

  &__figure1,
  &__figure2,
  &__figure3 {
    position: absolute;
    width: 54%;
  }

  &__figure1 {
    left: 11%;
    height: 77px;
  }

  &__figure2 {
    left: 23%;
    height: 69px;
  }

  &__figure3 {
    top: -13px;
    left: 33%;
    height: 67px;
  }

  @media (max-width: 1400px) {
    &__figure1,
    &__figure2,
    &__figure3 {
      height: 4vh;
    }
  }
  @media (max-width: 900px) {
    &__figure1,
    &__figure2,
    &__figure3 {
      height: 3vh;
    }
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}

.container {
  margin: 40px auto;
  padding: 15px 40px;
  max-width: 1380px;
  height: 700px;
  background-color: #fff;
  box-shadow: rgba(142, 160, 174, 0.24) 1px 1px 20px;

  &-title {
    margin: -15px -40px;
    color: $blueText;
    height: 110px;
    background-image: url("../assets/img/title-background.png");
    background-repeat: no-repeat;

    &__item {
      padding: 15px 40px;
      font-size: 40px;
      font-weight: 700;
    }
  }
}
